<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.chronojump.chronojump</string>
	<key>CFBundleName</key>
	<string>Chronojump</string>
	<key>CFBundleExecutable</key>
	<string>Chronojump</string>
	<key>CFBundlePackageGetInfoString</key>
	<string>Chronojump</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>{version}</string>
	<key>CFBundleShortVersionString</key>
	<string>{version}</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.sports</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Chronojump needs access to your location.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>The operation being performed by a program in Chronojump requires elevated permission.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Chronojump needs access to AppleScript.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Chronojump needs access to removable volumes.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Chronojump needs access to network volumes.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Chronojump needs access to media library.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Chronojump needs access to downloads folder.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Chronojump needs access to desktop folder.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Chronojump needs access to documents folder.</string>
	<key>NSCameraUsageDescription</key>
	<string>Chronojump needs access to the camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Chronojump needs access to the microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Chronojump needs access to add files to the photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Chronojump needs access to photo library.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Chronojump needs access to Bluetooth.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Chronojump needs access to Bluetooth.</string>
</dict>
</plist>
