<configuration>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0-0.dll"/>
  <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0-0.dll"/>
  <dllmap dll="libgdk-win32-2.0-0.dll" target="libgdk-win32-2.0-0.dll"/>
  <dllmap dll="libgdk_pixbuf-2.0-0.dll" target="libgdk_pixbuf-2.0-0.dll"/>
</configuration>
