/* CSS Document */
body {
	/* color: #ffffff; */
	color: #444;
	background: #fff url(img/fondo.png) 0 -80px repeat-x;
	position: relative;
	margin: 0px;
	font-family: verdana, trebuchet ms,luxi sans,sans-serif;
	/*font-size: x-small;*/
	/*font-size: small;*/
	/*font-size: 75%;*/
	font-size: 100%; /*nice in Mozilla Firefox*/
	text-align: center;
}

h1, h2, h3, h4, h5 {
	color: #222;
}

a {
	text-decoration: none;
}
a:link {
	/*color: #66e;*/
	color: #6c77ab;
	/*color: #444444;*/
}
a:visited {
	color: #6c77ab;
	/*color: #f50;*/
}
a:active {
	/*color: #fff !important;*/
	/*color: #f50 !important;*/
	color: #a6a;
/*	background-color: #BCC1C7;*/
}
a:hover {
	/*color: #f50;*/
	color: #9BC6D4;
	/*text-decoration: underline;*/
	text-decoration: none;
}
a img {
	border: 2px solid transparent;
	vertical-align: middle;
}
a img:hover {
	/*border: 2px solid #444444;*/
	border: 2px solid #9BC6D4;
	background-color: #9BC6D4;
}
.img-inset {
	float:left;
	padding: 0 1em 0.5em 0;
}
.img-alone {
	display: block;
	margin: 0.75em auto;
	text-align: center;
	border: 2px solid transparent;
}
.img-leader {
	float: left;
	margin-right: 12px;
}
a:hover > .img-alone {
	border: 2px solid #f50;
}
.clear {
	border: 0;
	clear: both;
}


hr.dotted {
	border-bottom: 1px dotted #ccc;
}
.spacing {
	margin: 1em auto;
}
.spacing-2 {
	margin: 2em auto;
}
#header {
	position: absolute;
	margin: 0 auto;
}
#header img {
	float: left;
}

#tagline {
	color: #999;
	text-align: center;
	position: absolute;
	top: 80px;
	right: 0px;
	width: 150px;
	font-size: 12px;
	line-height: 1.25em;
}
#nav-top, #nav-bottom {
	clear: both;
	text-align: center;
	list-style-type: none;
	font-size: 75%;
}
#nav-top li, #nav-bottom li {
	display: inline;
}
#nav-top li a, #nav-bottom li a {
/*	color: #fff;*/
	/*background-color:#e6e6fa;*/
}
#nav-top li#currentPage {
	padding: ,9em;
	background-color:#ffcc33;
}
#nav-top li a:visited, #nav-bottom li a:visited {
	 color: #a6a; 
/*	color: #ff00ff;*/
}
#nav-top li, #nav-bottom li {
	padding: 3px 8px;
	text-decoration: none;
	border-left: 1px dotted #5B7189;
}
#nav-top li:first-child a, #nav-bottom li:first-child a {
	border: 0;
}
#nav-top {
	margin: 0;
	padding: 0.5em;
	border: 1px solid #5B7189;
/*	background-color: #BCC1C7;*/
	background-color: #e6e6fa;
	-moz-border-radius: 2.5px;
}
#nav-bottom {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	font-size:xx-small;
}
#footer {
	position: relative;
	text-align: right;
}
#content {
	text-align: left;
	margin: 10px;
	width: 90%;
	line-height: 1.7em;
}
.with-sidebar #content {
	background: transparent url(img/divider-vert.png) 540px 0 repeat-y;
}
.with-sidebar 
#content-body {
	/*width: 500px;*/
	float: left;
	margin: 10px;
	font-size: 75%;
}
/*-------------------> menu contenidos <------------------*/

#sidebarStore {
	float: right;
	width: 110px;
	text-align: left;
	border-left: 1px dashed #cccccc;
	font-size: 75%;
}
#sidebarStore li#currentLanguage{
	background-color:#e6e6fa;
	font-size: 16px;
}
#sidebarStore p {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.25em;
}
#sidebarStore ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	line-height: 1.50em;
}

#cols {
	float: left;
	/*width: 310px;*/
	text-align: left;
	border-left: 1px dashed #cccccc;
	font-size: 75%;
}
#cols h2 {
	font-size: small;
	/*margin: 0.5em 0.5em 0 0.5em;*/
	margin: 0 0 0 0;
}
#cols li{
	font-size: 12px;
}
#cols ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	line-height: 2em;
}
#cols table{
	padding: 2px 0px 0px 0px;
}
#cols td {
	padding: 0px 0px 0px 0px;
}



#sidebar {
	float: right;
	width: 310px;
	text-align: left;
	border-left: 1px dashed #cccccc;
	font-size: 75%;
}
#sidebar h2 {
	font-size: small;
	/*margin: 1.5em 0 0.5em 0;*/
	margin: 0.5em 0.5em 0 0.5em;
}

#sidebar h3 {
	font-size: small;
	margin: 1.5em 0.5em 0.5em 0.5em;
	/*margin: 0.5em 0.5em 0.5em 0.5em;*/
}

#sidebar a img {
	border: 0px solid #222222;
	padding-left: 10px;
}

#sidebar li{
	font-size: 16px;
}

#sidebar li#currentLanguage{
	/*background-color:#e6e6fa;*/
	font-size: 16px;
}

#sidebar p {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 2em;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	line-height: 2em;
}
.summary {
	font-weight: bold;
}
.split-half {
	vertical-align: top;
	width: 46%;
	float: left;
	padding: 1em 2% 1em;
}
.split-third {
	vertical-align: top;
	width: 29.333%;
	float: left;
	padding: 1em 2% 1em;
}
.split-tosize {
	vertical-align: top;
	float: left;
	padding: 1em 2% 1em;
}
.split-half:first-child {
	padding-top: 0;
}

ul#supported-items {
	margin: 0 0 0 1em;
	padding: 0;
	list-style: none;
	line-height: normal;
}
ul#supported-items > li {
	float: left;
	font-weight: bold;
	width: 50%;
	font-size: small;
	margin-bottom: 1em;
}
ul#supported-items > li > img {
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}
ul#supported-items > li > ul {
	margin: 0;
	padding: 0 0 0 1em;
}
ul#supported-items > li > ul > li {
	font-weight: normal;
	float: left;
	list-style: none;
	padding-left: 6pt;
	color: #999;
	font-size: smaller;
}
span.nowrap {
	white-space: nowrap;
}
ul.list-indented {
	margin: 0;
}
ul.list-indented > li {
	margin-left: 2em;
}
ul.list-indented > li > img {
	margin-right: 4pt;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}
img{
border: 0px;}
.img-box {
	text-align: left;
}

#openvideo {
	background-color: #FFFF00;
}
#flash {
	background-color: #d3c6ef;
}


table{
	border: 0px solid #666666;
	padding: 6px 0px 8px 0px;
}

td {
	padding: 3px 10px 0px 0px;
}

#dalt table{
	padding: 0px 0px 0px 0px;
}
#dalt td {
	padding: 0px 0px 0px 0px;
}

#dalt a img {
	border: 0px solid transparent;
	vertical-align: middle;
}
#dalt a img:hover {
	border: 0px solid #9BC6D4;
	background-color: #9BC6D4;
}

/*td{
	padding: 20px;
}*/


/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menu/double-click-gallery.html
Copyright (c) 2005-2009 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
/*
Also see:
http://www.cssplay.co.uk/menu/double-click-gallery-vertical.html
*/

#gallery {
	width:800px;
	height:308px;
	margin:0 auto;
	position:relative;
}

#gallery #slides {position:absolute; right:10; top:100; height:308px; width:97px; overflow:hidden; text-align:center; z-index:500;}
#gallery #slides div {width:94px; height:308px; position:relative; padding-top:0px;}
#gallery #slides div ul {padding:0; margin:0; list-style:none; width:94px; height:308px}
#gallery #slides div ul li {float:left; padding:2px 0; width:92px; height:71px;}
#gallery #slides div ul li a {display:block; width:92px; height:69px; float:left;}
#gallery #slides div ul li a b {display:none;}
#gallery #slides div ul li a img {display:block; width:92px; height:69px; border:0px}
#gallery #slides div ul li a img:hover {border:2px solid #9BC6D4;}
#gallery #slides div ul li img.blank {margin:0 auto; padding-top:11px;}
#gallery #slides div ul li a:focus {outline:0;}


#gallery #fullsize {position:absolute; left:0; top:100; height:308px; width:800px; overflow:hidden; text-align:left; z-index:200; 
}
#gallery #fullsize div {width:800px; height:308px; padding-top:0px; position:relative;}
#gallery #fullsize div img {clear:both; display:block; padding:0px 0px 0px 0px; margin:0; border:1px solid #6c77ab; width:308; height:225; position:relative;}
#gallery #fullsize div h3 {padding:0px 0px; margin:0; font-size:18px;}
#gallery #fullsize div p {padding:5px 0px 0px 5px; margin:0; font-size:12px; line-height:15px;}

#gallery #fullsize div table {padding:0; margin:10px 125px; font-size:12px; line-height:18px; width:675px;
} /*800+125=925*/
#gallery #fullsize div table#vert_space {padding:0; margin:10px 125px; font-size:12px; line-height:18px; width:675px;
} /*800+125=925*/


#gallery #fullsize div table#chronojump {padding:0; margin:10px 125px; font-size:12px; line-height:18px; width:675px; height:250px;
	background:#ffffff url('images/documents_slides_chronojump_big.png') no-repeat bottom right;
} 
#gallery #fullsize div table#hardware {padding:0; margin:10px 125px; font-size:12px; line-height:18px; width:675px; height:250px;
	background:#ffffff url('images/documents_slides_hardware_big.png') no-repeat bottom right;
} 
#gallery #fullsize div table#training {padding:0; margin:10px 125px; font-size:12px; line-height:18px; width:675px; height:250px;
	background:#ffffff url('images/documents_slides_training_big.png') no-repeat bottom right;
} 
#gallery #fullsize div table#other {padding:0; margin:10px 125px; font-size:12px; line-height:18px; width:675px; height:250px;
	background:#ffffff url('images/documents_slides_other_big.png') no-repeat bottom right;
} 

#gallery #fullsize div td#video { background: url('images/videos-48.png') no-repeat top left; } 
#gallery #fullsize div td#presentation { background: url('images/presentation-48.png') no-repeat top left; } 
#gallery #fullsize div td#documents { background: url('images/documents-48.png') no-repeat top left; } 
#gallery #fullsize ul#space {padding:0px 0px 0px 70px; margin:0px; line-height:22px;} 
#gallery #fullsize ul#nospace {padding:0px 0px 0px 15px; margin:0px; line-height:22px;} 
#gallery #fullsize li {list-style: circle;}
#gallery #fullsize ul#lang {padding:0px; margin:0px; list-style: none; line-height:22px;}
#gallery #fullsize li#lang {list-style: none;}

#gallery #note {position:relative; top:0; height:150px; overflow:hidden; padding-top:315px; text-align:left;}

#gallery #noteStore {position:relative; top:0; height:150px; overflow:hidden; padding-top:315px; padding-left:125px; text-align:left;}
#gallery #noteStore table{padding: 0px 0px 0px 0px;float: left;}
#gallery #noteStore td {padding: 0px 0px 0px 0px; width:315px;}
#gallery #fullsize div table#server {padding:0; margin:20px 125px; font-size:12px; line-height:18px; width:675px; height:250px;}
